package {{.PackageName}}

import (
	"encore.app/pkg/core"
)

type {{.PluginName}}Plugin struct{}

func (p *{{.PluginName}}Plugin) ID() string {
	return "{{.ID}}"
}

func (p *{{.PluginName}}Plugin) Name() string {
	return "{{.Name}}"
}

func (p *{{.PluginName}}Plugin) Version() string {
	return "{{.Version}}"
}

func (p *{{.PluginName}}Plugin) Initialize(world *core.World, entity core.Entity) error {
	return nil
}

func (p *{{.PluginName}}Plugin) Components() []core.Component {
	return nil
}

func (p *{{.PluginName}}Plugin) Systems() []core.System {
	return nil
}

func (p *{{.PluginName}}Plugin) Metadata() core.PluginMetadata {
	return core.PluginMetadata{
		Description: "{{.Description}}",
		Author:      "{{.Author}}",
		Tags:        []string{"{{.Tags}}"},
	}
}

// New creates a new instance of the plugin
func New() core.Plugin {
	return &{{.PluginName}}Plugin{}
}